<mat-toolbar color="primary">
    
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="belowMenu" ><mat-icon>miscellaneous_services</mat-icon></button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink = "imc">Calcular IMC</button>
          <button mat-menu-item routerLink = "idade" >Calcular idade</button>
          <button mat-menu-item routerLink = "dolar">Converter reais em dolar</button>
          <button mat-menu-item routerLink = "semana">Dia da semana</button>
          <button mat-menu-item routerLink = "desconto">Desconto</button>
          
        </mat-menu>
  
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink = "home">Home</button>
    <button mat-button>Sobre</button>
    <button mat-button>Contato</button>
    
    <img src="img/img.jpg" alt="">
