
<div class="container">
    <img mat-card-image class="imgtop" src="../../assets/imagens/mg1.jpg" alt="Photo of a Shiba Inu">

</div>
<div class="container1">
<h1>TECNOLOGIA DA INFORMAÇÃO</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis optio fugiat, laboriosam ipsum quos quaerat aliquid, modi quibusdam consequuntur explicabo dolores vel rerum eligendi pariatur dolorum similique eum saepe? Dolor?</p>
<button mat-raised-button color="primary">Primary</button>
</div>

<div class="cardsos">
<mat-card class="example-card">
    <img mat-card-image src="../../assets/imagens/mg5.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" class="fontes">Saiba mais</button>
      
    </mat-card-actions>
    
</mat-card>
<mat-card class="example-card">
    <img mat-card-image src="../../assets/imagens/mg1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
     
      <button mat-button color="primary" class="fontes">Saiba mais</button>
    </mat-card-actions>
    
</mat-card>
<mat-card class="example-card">
    <img mat-card-image src="../../assets/imagens/mg2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" class="fontes">Saiba mais</button>     
    </mat-card-actions>
    
</mat-card>
<mat-card class="example-card">
    <img mat-card-image src="../../assets/imagens/mg3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" class="fontes">Saiba mais</button>
    </mat-card-actions>
    
</mat-card>
</div>
<div class="containerfim">
    
</div>
